<div style="font-size: 2.25em; margin: 30px 0;">
  A Little Bit of Background
</div>
<hr/>
<div id="about_us_text" style="margin-top: 30px;">
  <div class="adam_avatar inline" style="margin: 10px 30px 0 0;"></div> 
  My name is <%= link_to "Adam McGowan", "http://www.about.me/adam.mcgowan", :target => "_blank"%>, founder of <%= link_to "Addie.it", "http://addie.it", :target => "_blank" %> and the face behind <%= link_to "@mcgowan15", "http://twitter.com/mcgowan15", :target => "_blank" %>. I founded Firefield because I felt that too many great ideas never make it to market. Unless you&#39;re a software engineer or have strong tech connections, getting the right product in front of an audience quickly and cost-effectively is really hard to do. Through our strategic, operational and technical consulting we help early stage ideas and businesses find success in a technology-driven marketplace.<br/><br/>
  
Our <%= link_to "IGNITE", ignite_path %> program highlights Firefield&#39;s mission perfectly. This common sense approach to launching a tech product levels the playing field for entrepreneurs. Whether you need to develop software, refine an idea, or launch an entire business, Firefield is here to help. Every great success starts with a spark, and we look forward to helping light yours. To learn more, <%= link_to "reach out", contact_path %> to us anytime.  

  <div class="clear"></div> 
</div> 