<% content_for :head_content do %>
  <title>Firefield: It starts with a Spark</title> 
  <meta name="description" content="Firefield provides software development and consulting to companies and ideas of all shapes and sizes.">
<% end %>
<div class="mgn_10 lead_paragraph">
  Whether you&#39;ve got an idea on a napkin or a business looking to grow, Firefield can help.<br/> 
  For ventures at various stages, we propel ideas into products, and products into successes.<br/> 
  Our technology and consulting services transform inspiration into real-life execution.
</div>

<div class="grid_7d alpha">
  <div class="consult_container">
    <div class="consult_box">
      <a href="<%= contact_path %>"><div class="icon_big disk inline"></div></a>
      <div class="consult_content inline">
        <div class="consult_header">
          <%= link_to "Software", contact_path %><br/>
        </div>
        <div class="consult_body">
          <div>
            We build stuff quickly, iteratively, and cost-effectively. Our web applications focus on what your customers need, skip what they don't, and maximize your product's chances for success. <%= link_to "Request more info.", contact_path %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>    
    <div class="consult_box">
      <a href="<%= contact_path %>"><div class="icon_big bulb inline"></div></a>
      <div class="consult_content inline">
        <div class="consult_header">
          <%= link_to "Strategy", contact_path %><br/>
        </div>
        <div class="consult_body">
          <div>
            You may have answers, but were you asking the right questions? We help you isolate relevant challenges, discover their optimal solutions, and draft the roadmap to get there. <%= link_to "Request more info.", contact_path %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="consult_box">
      <a href="<%= contact_path %>"><div class="icon_big gear inline"></div></a>
      <div class="consult_content inline">
        <div class="consult_header">
          <%= link_to "Operations", contact_path %><br/>
        </div>
        <div class="consult_body">
          <div>
            The best laid plans are worthless if you can&#39;t execute them. Whether it&#39;s product, management, or anything in between, we can help you generate real output with measurable results. <%= link_to "Request more info.", contact_path %>  
          </div>
        </div>
      </div>
      <div class="clear"></div>   
    </div>
  </div>
</div>
  
<div class="grid_5d omega"> 
  <div style="background: #ddd; border: 1px solid #222; padding: 30px 20px; margin-top: 7px;">
    <a href="<%= ignite_path %>"><div id="ignite_logo"></div></a>
    <hr/>  
    <div class="mgn_5_t box_body"> 
      Every entrepreneur, whether tech savvy or not, should have the opportunity to bring a product to market quickly at a limited cost. If you have a concept in need of development, then <%= link_to "IGNITE", ignite_path %> is exactly the spark you&#39;ve been waiting for.  <%= link_to "Learn more", ignite_path %> about how we can help, or <%= link_to "contact us today.", ignite_contact_path %>  
    </div>
  </div>
</div>   

<div class="clear"></div>  

<div class="mgn_20">&nbsp;</div>
