<div>
  <h1>Welcome to Firefield</h1>
</div>

<div>
  <h3>Here are some links</h3>
  <ul>
    <li><%= link_to "Connect", connect_path %></li>
    <li><%= link_to "Consult", consult_path %></li> 
    <li><%= link_to "Collaborate", collaborate_path %></li> 
    <li><%= link_to "Inspiration", inspiration_path %></li> 
    <li><%= link_to "Talent", talent_path %></li> 
    <li><%= link_to "Capital", capital_path %></li> 
    <li><%= link_to "About", about_path %></li> 
    <li><%= link_to "Contact", contact_path %></li> 
    <li><%= link_to "Terms", terms_path %></li> 
  </ul>
</div>   