<div class="mgn_20 lead_paragraph"> 
  It&#39;s pretty simple. Firefield promotes innovation. If you&#39;re in the startup space<br/>
  and need help making the right connections, executing on your master<br/>
  plan or building the perfect team, then we should talk.
</div>
<hr/> 

<div style="margin-top: 30px;">
  <div class="grid_4d alpha">
    <a href="<%= contact_path %>" class="box_header">
      <div class="icon_55 connect inline"></div>
      <div class="icon_55_span inline">Connecting</div> 
      <div class="clear"></div> 
    </a>
    <div class="mgn_10_t box_body">
      Our network brings together talent, inspiration and capital. If you can offer (or need) any of these ingredients, then you should join today. <%= link_to "Get more info.", contact_path %> 
    </div>
  </div> 
  <div class="grid_4d">
    <a href="<%= contact_path %>" class="box_header">
      <div class="icon_55 consult inline"></div>
      <div class="icon_55_span inline">Consulting</div>
      <div class="clear"></div> 
    </a>
    <div class="mgn_10_t box_body">
      Whether you need help with strategy, management, development, product or fundraising, we can offer a successful solution. <%= link_to "Get more info.", contact_path %> 
    </div>
  </div>

  <div class="grid_4d omega">
    <a href="<%= contact_path %>" class="box_header">
      <div class="icon_55 collaborate inline"></div>
      <div class="icon_55_span inline">Collaborating</div>
      <div class="clear"></div>    
    </a>
    <div class="mgn_10_t box_body">
      Does your concept or venture need an advisor, co-founder, or management team member? Well, we can provide that as well. <%= link_to "Get more info.", contact_path %>
    </div>
  </div>
  <div class="clear"></div>  
</div>

<div class="mgn_20">&nbsp;</div>
