<div>
  <h1>Welcome to Firefield</h1>
</div>

<div>
  <h3>Here are some links</h3>
  <ul>
    <li><%= link_to "Connect", connect_path %></li>
    <li><%= link_to "Consult", consult_path %></li> 
    <li><%= link_to "Collaborate", collaborate_path %></li> 
    <li><%= link_to "Inspiration", inspiration_path %></li> 
    <li><%= link_to "Talent", talent_path %></li> 
    <li><%= link_to "Capital", capital_path %></li> 
    <li><%= link_to "About", about_path %></li> 
    <li><%= link_to "Contact", contact_path %></li> 
    <li><%= link_to "Terms", terms_path %></li> 
  </ul>
</div> 

<div class="mgn_10_t">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer consectetur porttitor hendrerit. Aliquam tempus, sem sed lacinia faucibus, tellus risus tempor orci, ornare gravida sem ligula id nibh. Integer posuere scelerisque elit, vel feugiat turpis suscipit eget. Aenean adipiscing odio sit amet nulla sodales pellentesque tristique libero iaculis. Ut convallis tristique orci at pharetra. Donec justo ipsum, mattis ac gravida nec, gravida vitae dui. Nam fermentum justo felis. Curabitur ultricies, nisl quis aliquam pretium, massa justo mollis eros, sit amet dapibus urna est accumsan nunc. Aliquam scelerisque suscipit ligula eget fermentum. Proin vulputate fringilla vulputate. Ut ultrices fringilla urna, in vestibulum ligula consequat ut. Curabitur lobortis commodo odio, sit amet imperdiet felis varius non. Ut id lacinia leo. Donec sed justo augue. In fermentum feugiat mauris, quis viverra turpis tincidunt nec.
</div> 

<div class="mgn_10_t">
  <div class="avatar_1 inline"></div> 
  <div class="avatar_2 inline"></div>
  <div class="avatar_3 inline"></div>
  <div class='clear'></div>  
</div>
