<!DOCTYPE html>
<html>
  <head>
    <title>Firefield</title>
    <link href='http://fonts.googleapis.com/css?family=Gruppo|Droid+Sans|Inder|Lato' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper" class="<%= controller.controller_name %> <%= controller.action_name %>">
      <%= render :partial => '/shared/header' %>
      <div class="container_24">  
        <%= yield %> 
      </div>
    </div>    
    <div id="footer_container">
      <div id="footer">This is the footer</div>
    </div>    
  </body> 
</html>
