<!DOCTYPE html>
<html>
  <head>
    <title>Firefield</title>
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />  
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png" />
    <link href='http://fonts.googleapis.com/css?family=Gruppo|Droid+Sans|Inder|Lato' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="wrapper" class="<%= controller.controller_name %> <%= controller.action_name %>">
      <%= render :partial => '/shared/header' %>
      <div class="container_24">  
        <%= yield %> 
      </div>
    </div>    
    <div id="footer_container">
      <div id="footer">
        <span id="copyright">Copyright Firefield, LLC 2012</span>
        <ul class="nav_list">
          <li><%= link_to "Home", root_path %></li> 
          <li><%= link_to "Ignite", ignite_path %></li>
          <li><%= link_to "About Us", about_path %></li> 
          <li><%= link_to "Get in Touch", contact_path %></li>
          <div class='clear'></div>
        </ul>
        <div class="clear"></div>
      </div>
    </div>    
  </body> 
</html>
